body {
  background-color: #C2F2EB;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

h1{
  font-size: 6rem;
  margin: 30px;
  color:#70A8A6;
}


.container{
  padding: 2% 15%;
  width:70%;

}

.dice {
  display: inline-block;



}

img {
  width: 60%;
}
